<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159188124958-6i50dojmsg1m5ri2u2fahm24htegoqvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159188124958-6i50dojmsg1m5ri2u2fahm24htegoqvj</string>
	<key>API_KEY</key>
	<string>AIzaSyC73irRJJcH9wWhhVyw8ANz4_xu73cVpFE</string>
	<key>GCM_SENDER_ID</key>
	<string>159188124958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.capstone</string>
	<key>PROJECT_ID</key>
	<string>capstone-main</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-main.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159188124958:ios:26b2617fec833ffe40750f</string>
</dict>
</plist>